---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection, getEntry } from 'astro:content';
const glossary = await getCollection('glossary');
const resources = await getCollection('resources');
const platforms = await getCollection('platforms');
const fermionsBosons = await getEntry('glossary', 'fermions-bosons');
const { Content } = await fermionsBosons.render();
---

<BaseLayout>
    <main class="px-4 py-8">
         <h1 class="text-gray-400 text-xl mb-2">Glossary</h1>
        
        <ul class="list-none leading-7">
            {glossary.map((entry) => (
                <li>
                    <a
                        href={`/glossary/${entry.slug}`}
                        class="no-underline transition-colors text-gray-700 text-md hover:text-[#6e66d4] cursor-pointer"
                    >
                        {entry.data.title}
                    </a>
                </li>
            ))}
        </ul>

        <h1 class="text-gray-400 text-xl mb-2 mt-8">Platforms</h1>
        
        <ul class="list-none leading-7">
            {platforms.map((entry) => (
                <li>
                    <a
                        href={`/platforms/${entry.slug}`}
                        class="no-underline transition-colors text-gray-700 text-md hover:text-[#6e66d4] cursor-pointer"
                    >
                        {entry.data.title}
                    </a>
                </li>
            ))}
        </ul>

        <h1 class="text-gray-400 text-xl mb-2 mt-8">Resources</h1>
        
        <ul class="list-none leading-7">
            {resources.map((entry) => (
                <li>
                    <a
                        href={entry.data.source}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="no-underline transition-colors text-gray-700 text-md hover:text-[#6e66d4] cursor-pointer"
                    >
                        {entry.data.name}
                    </a>
                </li>
            ))}
        </ul>
    </main>
</BaseLayout>
